extends ../layout.pug

block head
    script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
    script(src="/public/js/ideas/preview.js")

block content  
    .row
        .col-lg-6
            form#idea(action="/ideas/create" method="POST" enctype="application/x-www-form-urlencoded")
                .form-group
                    label(for="title") Title:
                    input.form-control#title(type="text" name="title")
                .form-group
                    label(for="category") Category:
                    input.form-control#category(type="text" name="category")
                .form-group
                    label(for="content") Content:
                    textarea.form-control#content(rows="12" name="content")
                input.btn.btn-primary(type="submit" value="Create")
        .col-lg-6
            #preview.card.text-white(style="background-color: #303133; display: none;")
                #preview-category.card-header.text-muted
                .card-body
                    h3#preview-title.card-title
                    p#preview-content.cart-text
