extends ../layout.pug

block content
    h1.text-center Ideas
    each idea in ideas
        div
            h5= idea.title
            p= idea.category
            p= idea.content
    a(href="/ideas/create") Create Idea