extends ../layout.pug

block head
    script(src="/public/js/ideas/ideas.js")

block content
    h1.text-center Ideas
    .accordion#ideas
    #util
        a(href="/ideas/create") #[button.btn.btn-secondary Create Idea]