extends ../layout.pug

block content
    form(action="/login" method="POST" enctype="application/x-www-form-urlencoded")
        label.form-label(for="username") Username:
        input.form-control.mb-3#username(type="text" name="username")
        label.form-label(for="password") Password:
        input.form-control.mb-3#password(type="password" name="password")
        input.btn.btn-primary(type="submit" value="Log In")
        span(style="float: right;") #[a(href="/signup") Sign Up]
